/* Default styles */
.contact-page {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: white;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.address, .phone, .email {
  flex: 1;
  margin: 10px;
  padding: 20px;
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  color: white;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-details {
    flex-direction: column;
  }

  .address, .phone, .email {
    margin: 10px 0;
  }
}

/* Add more media queries as needed for different screen sizes */
.hr-line {
  border-top: 2px solid #333;
  margin: 20px auto;
  width: 60px;
}
 